.Shadowed {
	box-shadow: 0 0 10px #00000099;
}

.App {
	text-align: center;
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background-color: #203024;
}

.App-header {
	position: relative;
	display: flex;
	align-items: stretch;
	padding: 10px 0;
	font-size: calc(10px + 2vmin);
	color: white;
	background-color: #484C44;
	z-index: 1;
}

.App-header > p {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.App-header > .AddBtn {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 0 1.5vmin;
	top: 0;
	left: 1.5vmin;
	cursor: pointer;
	transition: background-color 0.1s;
}
.App-header > .AddBtn > i{
	font-size: calc(20px + 2vmin);
}
